body {
  font-family: Poppins;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #1b1a1a;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

h3 {
  width: 89px;
  text-align: center;
  color: #403e3b;
  font-size: 18px;

  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

h4 {
  font-size: 32px;
}

.get_a {
  text-align: center;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
}

.s1 {
  color: #645c55;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.s2 {
  color: #1b1a1a;

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.s3 {
  color: #403e3b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.s4 {
  color: #1b1a1a;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
}

.sec4_txt {
  width: 292px;
  text-align: center;
  color: #645c55;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.sec6_textcontent {
  color: #ece7e4;
  font-style: normal;
}

#ourfirm {
  color: #403e3b;

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
}

#sec2_content {
  color: #403e3b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#stephen {
  color: #1b1a1a;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
}

#senpar {
  color: #645c55;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.commonh {
  color: #403e3b;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.commont {
  color: #645c55;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#ourprogress {
  width: 122px;
  text-align: center;
  color: #645c55;
  font-size: 14px;

  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.hwdwwd {
  width: 468px;
  text-align: center;
  color: #1b1a1a;
  font-size: 39px;

  font-weight: 400;
  line-height: 42px;
  word-wrap: break-word;
}

.name {
  color: #1b1a1a;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
}

.position {
  color: #645c55;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

#prior {
  font-size: 14px;

  letter-spacing: 2px;
  text-transform: uppercase;
}

#sec6_txt {
  font-size: 15px;
}

#sec8txt {
  color: #645c55;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

#sec8_a {
  color: #1b1a1a;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.4px;
}

#ny {
  color: #645c55;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

#brb {
  color: #403e3b;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 130.435% */
}

#sec8_read_more {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.4px;
}

#sec9_textcontentbox {
  color: #403e3b;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  word-wrap: break-word;
}
#sec9_text {
  color: #645c55;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
#sec9_a {
  text-decoration: none;
  color: #1b1a1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.4px;
}

#sec10_1 {
  color: #645c55;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
#sec10_2 {
  color: #1b1a1a;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 105% */
}
#sec10_3 {
  color: #1b1a1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.4px;
}
