* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 6411px;
}

header {
  grid-row: 1/2;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 11px 11px 25px 0px rgba(9, 7, 37, 0.06);
  display: flex;
}

nav {
  display: inline-flex;
  height: 55%;
  padding: 2px 0px 2px 15.813px;
  margin-right: 120px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

main {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 720px 782px 600px 581px 600px 410px 600px 918px 592px 314px;
}

footer {
  grid-row: 3/4;
  flex-shrink: 0;
  display: flex;
}

.container {
  display: grid;
  grid-template-rows: 90px 1fr 204px;
}

.header_frame {
  width: 100%;
  display: inline-flex;
  padding: 20px 20px 20px 32px;
  justify-content: space-between;
  align-items: center;
}

.get_template {
  width: 155px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #1b1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  width: 100%;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 12fr;
  grid-template-rows: 77px 566px 77px;
  justify-items: end;
  background: #ece7e4;
}

.section1_content {
  grid-area: 2/2/3/3;
}

.section1div {
  margin-left: 40px;
}

.s1 {
  margin-bottom: 20px;
}

.s2 {
  margin-bottom: 18px;
}

.s3 {
  margin-bottom: 41px;
}

.s4 {
  padding-left: 65px;
}

.section2 {
  width: 768px;
  height: 582px;
  flex-shrink: 0;
  margin: 100px 336px;
  display: grid;
  grid-template-columns: 267px 493px;
  grid-template-rows: repeat(3, 144px) 120px;
  grid-gap: 10px;
}

.section3 {
  background-image: url(./assets/sec3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}

.secx_content {
  margin-right: 60px;
  display: flex;
  height: 600px;
  padding-right: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  word-wrap: break-word;
}

.sec4_content {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: inline-flex;
}

.sec4_itembox {
  flex: 1 1 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: inline-flex;
}

.sec4_textbox {
  height: 132px;
  padding-left: 42px;
  padding-right: 42.66px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.section5 {
  background-image: url(./assets/sec5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}

.section6 {
  display: flex;
  width: 100%;
  height: 100%;
  background: #403e3b;
}

.sec6_content {
  display: flex;
  padding-right: 144px;
  justify-content: flex-start;
  align-items: center;
  gap: 132px;
}

.sec6_text {
  width: 460px;
  height: 160px;
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.shapes-container {
  width: 432px;
  height: 290px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.section7 {
  background-image: url(./assets/sec7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
}

.section8 {
  margin-top: 113px;
  margin-bottom: 111px;
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 42px 60px 24px 456px 33px 24px;
  grid-gap: 20px;
}

.sec8_middle {
  grid-area: 4/1/5/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sec8_abox {
  width: 133px;
  height: 46px;
  border-radius: 14px;
  background: #1b1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section9 {
  margin: 100px 136px 100px 136px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.sec9_people {
  margin-left: 16px;
  margin-bottom: 33px;
  display: flex;
}

.name {
  margin-top: 22px;
}

.section10 {
  background: #cec4bc;
}

.sec10_content {
  margin: 100px 136px 100px 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 427px;
}

#section1_img {
  grid-area: 1/4/4/5;
}

#logo {
  width: 220px;
  height: 19px;
  margin-left: 120px;
}

#ourfirm {
  grid-area: 1/1/5/2;
}

#sec2_lastcontent {
  display: flex;
  height: 100px;
  padding: 0px 221.328px 0px 0.344px;
  align-items: center;
  gap: -0.344px;
}

#sec2lastdiv {
  width: 196px;
  height: 100px;
  padding-left: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#sec4_item {
  align-self: stretch;
  height: 259px;
  justify-content: center;
  align-items: flex-start;
  gap: 16.02px;
  display: inline-flex;
}

#sec8txt {
  grid-area: 2/1/3/2;
}

#sec8_middle_middle {
  width: 375px;
  height: 456px;
  padding: 40px 40px;
  background-image: url(./assets/sec8second.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sec8_a {
  grid-area: 5/1/6/3;
}

#sec9_textcontentbox {
  grid-area: 1/1/4/2;
}

#sec9_text {
  margin-top: 14px;
  margin-bottom: 41px;
}
#sec9_a {
  margin-left: 25px;
}

.sec9_people img {
  grid-area: 1/1/3/2;
  margin-right: 20px;
}

#sec10_box {
  width: 576px;
  height: 114px;
  flex-shrink: 0;
}

#footer_container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 136px;
  margin-right: 136px;
  display: inline-flex;
  padding-right: 0.016px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 361.594px;
}

#footer_right {
  display: flex;
  width: 112px;
  height: 24.609px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
